<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ScenicOrderMapper">

    <!-- 分页查询景点订单 -->
    <select id="scenicInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        so.id,
        so.code,
        so.price,
        so.amount,
        so.order_status AS orderStatus,
        so.create_date AS createDate,
        so.update_date AS updateDate,
        si.scenic_name AS scenicName,
        si.web_img AS webImg,
        si.area,
        si.scenic_price AS scenicPrice,
        si.point,
        si.hot,
        si.history,
        si.link,
        si.address,
        si.level,
        si.sold,
        ui.code AS userCode,
        ui.name AS userName,
        ui.email,
        ui.phone,
        ui.avatar
        FROM
        scenic_order so
        LEFT JOIN scenic_info si ON ( si.id = so.scenic_id )
        LEFT JOIN user_info ui ON ( ui.id = so.user_id )
        WHERE
        1 = 1
        AND so.del_flag = 0
        <if test="scenicOrder.userName != null and scenicOrder.userName != ''">
            AND ui.name LIKE CONCAT('%',#{scenicOrder.userName},'%')
        </if>
        <if test="scenicOrder.scenicName != null and scenicOrder.scenicName != ''">
            AND si.scenic_name LIKE CONCAT('%',#{scenicOrder.scenicName},'%')
        </if>
        <if test="scenicOrder.code != null and scenicOrder.code != ''">
            AND so.code LIKE CONCAT('%',#{scenicOrder.code},'%')
        </if>
        <if test="scenicOrder.orderStatus != null">
            AND so.order_status = #{scenicOrder.orderStatus}
        </if>
        <if test="scenicOrder.userId != null">
            AND ui.id = #{scenicOrder.userId}
        </if>
        ORDER BY so.create_date DESC
    </select>

    <!-- 本月订单信息 -->
    <select id="selectOrderByMonth" resultType="cc.mrbird.febs.cos.entity.ScenicOrder">
        select
        oi.*
        from
        scenic_order oi
        where 1 = 1
        and DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 本年订单信息 -->
    <select id="selectOrderByYear" resultType="cc.mrbird.febs.cos.entity.ScenicOrder">
        select
        oi.*
        from
        scenic_order oi
        where 1 = 1
        and DATE_FORMAT( oi.create_date, '%Y' ) = DATE_FORMAT(
        CURDATE(),
        '%Y')
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN 一起 oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单收益统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.after_order_price), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN 一起 oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>
</mapper>
